@model JazperDK.Models.PortfolioItem[]
@{
    ViewData["Title"] = "Jazper | Portfolio";
}

<div class="particles-js" id="particles-js"></div>

<header>
    <h1>Portfolio</h1>
</header>

<main id="portfolio-items">
    @foreach (var portfolioItem in Model)
    {
        <div id="portfolio-item">
            <img src="@portfolioItem.Icon"/>
            <a href="@portfolioItem.Url" target="_blank">
                <h3>@portfolioItem.Name</h3>
            </a>
            <p>@portfolioItem.Description</p>
        </div>
    }

</main>


<script src="~/js/particles.js"></script>
<script>
    particlesJS.load('particles-js', '../configs/particles.json');
</script>