@{
    ViewData["Title"] = $"Jazper {ViewData["StatusCode"]}";
}

<div class="particles-js" id="particles-js"></div>

<header>
    <h1>JAZPER</h1>
</header>

<main>
    <h2>@ViewData["StatusCode"]</h2>
    <h2>@ViewData["Message"]</h2>
</main>

<script src="~/js/particles.js"></script>

<script>
    particlesJS.load('particles-js', '../configs/particles.json');
</script>